@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
:root {
    --text-color: #000000;
    --main-color: #975016;
    --base-font-size: 16px;
    --heading-scale: 1.5;
  }
section{
    padding: 50px ;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;

}
.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo span {
    color: var(--main-color);
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    margin: 10px 20px ;
    font-weight: 500;
    color: var(--text-color);
    border-bottom: none;
    transition: border-bottom 0.08s ease;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 2.5px solid var(--main-color);
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}
.home {
    width: 100%;
    height: 100vh;
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.home-text{
    margin-left: 10%;
}
.home-text h1 {
    font-size: 2.7rem;
}
.home-text p {
    font-size: 0.9rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span {
    color: var(--main-color);
}
.btn {
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px; 
    box-shadow: none;
    transition: box-shadow 0.3s ease;
} 
.btn:hover {
    background: #fff;
    color: var(--main-color);
    box-shadow: 0 4px 20px var(--main-color);
 }
 .heading{
    display: grid;
    place-items: center;
    margin: 3rem;
    font-weight:600;
 }
 .heading span {
    color: var(--main-color);
 }
 .shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
 }
 .listProduct .item img{
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 20px 0 #00000054 ;
 }

 .listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 1200px;    
 }

 .listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
 } 

 .listProduct .item h2{
    font-weight: 500;
    font-size: large;
 }

 .listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
 }

 .listProduct .item button{
    background-color: var(--main-color);
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
 }
 .listProduct .item button:hover{
    background-color: #ffffff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
 }

 .desc {
    display: flex;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;

 }

 #toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #ffffff;
    color: var(--main-color);
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    top: 70px;
    right: 30px;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
    font-family: sans-serif;
  }
  
  #toast.show {
    visibility: visible;
    opacity: 1;
    top: 70px;
  }

  #toast.disappear {
    opacity: 0;
  }
.new {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #9750163d;
    padding-bottom: 5rem;
    padding-top: 1rem;
}
.listProduct1 .item img{
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 20px 0 #00000054 ;
 }

 .listProduct1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    width: 1200px;    
 }

 .listProduct1 .item {
    background-color: #eeeee6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #00000054 ;
 } 

 .listProduct1 .item h2{
    font-weight: 500;
    font-size: large;
 }

 .listProduct1 .item .price{
    letter-spacing: 7px;
    font-size: small;
 }

 .listProduct1 .item button{
    background-color: var(--main-color);
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
 }
 .listProduct1 .item button:hover{
    background-color: #ffffff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
 }

 .desc {
    display: flex;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;
 }

.about{
padding: 10rem;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-img img {
    width: 500px;
    box-shadow: 0 0 20px 0 var(--main-color) ;
    border-radius: 20px;
    object-fit: contain;
}
.about-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.about-text span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
.about-text h2{
    padding: 5px;
    padding-left: 0px;
}
.about-p{
    margin: 3px;
    margin-bottom: 10px;
}

.about-p p{
    margin: 0.5rem 0 1.4rem;
    font-size: 1rem;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: #9750163d;
}

#logoo{
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 32px;
}

.navbar2{
    position: relative;
    padding-left: -10px;
}
.navbar2 a{
    font-size: 1rem;
    margin: 10px 20px ;
    font-weight: 500;
    color: var(--text-color);
    border-bottom: none;
    transition: border-bottom 0.08s ease;
}
.navbar2 a:hover{
    color: var(--main-color);
}
.list{
    padding-top: 10px;
    display: flex;
}

.contact-cont h6{
    font-size: 14px;
    font-weight: 600;
}

.contact-cont a{
    color: var(--main-color);
} 
@media (max-width:875px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar {
        position: fixed;
        display: none;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        }
        .navbar.active{
            left: 0;
        }

        .about-text span{
            font-size: 12px;
        }
        .about-p p{
            font-size: 0.7rem;
        }
}
@media (max-width:1213px){
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;  
    } 
    .listProduct1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;  
    } 
    .about-container{
        flex-direction: column;
    }
    .about-img img {
        width: 390px;
        height: 390px;
    }
    .about-img{
        padding-bottom: 4rem;
    }
}
@media (max-width: 550px){

    .listProduct {
        grid-template-columns: repeat(1, 14rem);
        gap: 30px;
        width: 100%;  
    } 

    .about-img img{
        width: 80px;
    }    

    .about-text span{
        font-size: 10px;
    }
    .about-text h2{
        font-size: 0.9rem;
    }
    .about-p p{
        font-size: 0.5rem;
    }
 
}

@media (max-width:530px){
    .home-text h1 {
        font-size: 1.7rem;
    }
    .about-img img {
        width: 200px;
        height: 200px;
    }


    #logoo{
        font-size: 18px;
    }

    .navbar2 a{
        font-size: 10PX;
    }
    
    .contact-cont h6{
        font-size: 10px;
    }
    .contact-cont h2{
        font-size: 14px;
    }
    .btn {
        padding: 12px 13px;
        font-size: 10px; 
    }
}
@media (max-width:429px){
    .btn {
        padding: 10px 12px;
        font-size: 9px; 
    }
 
}


@media (max-width:398px){
    .listProduct {
        grid-template-columns: repeat(1, 10rem);
        gap: 30px;
        width: 100%;  
    } 
    .listProduct1 {
        grid-template-columns: repeat(1, 10rem);
        gap: 30px;
        width: 100%;  
    }
    .home-text h1 {
        font-size: 1.2rem;
    }

    .about-text span{
        font-size: 8px;
    }
    .about-text h2{
        font-size: 0.7rem;
    }
    .about-p p{
        font-size: 0.4rem;
    }

    .btn {
        padding: 8px 10px;
        font-size: 7px; 
    }
 

}
@media (max-width:1543px) {
    .about-img img {
        width: 450px;
        height: 450px;
    }

}
@media (max-width:1420px){
    .about-img img {
        width: 400px;
        height: 400px;
        box-shadow: 0 0 20px 0 var(--main-color) ;
        border-radius: 20px;
        object-fit: contain;
    }

}